In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [2]:
df=sns.load_dataset("iris")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# le=LabelEncoder()
# df["species"]=le.fit_transform(df["species"])

In [5]:
# df

In [6]:
# cols=df[['species']].columns
# df[cols]=df[cols].apply(lambda x:pd.factorize(x)[0])
# df.head()

In [7]:
df.mean()

C:\Users\Amay\AppData\Local\Temp\ipykernel_8588\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [8]:
df.median()

C:\Users\Amay\AppData\Local\Temp\ipykernel_8588\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [34]:
stats.mode(df)[0][0][0],stats.mode(df)[1][0][0]

C:\Users\Amay\AppData\Local\Temp\ipykernel_8588\703574797.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df)[0][0][0],stats.mode(df)[1][0][0],
C:\Users\Amay\AppData\Local\Temp\ipykernel_8588\703574797.py:1: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  stats.mode(df)[0][0][0],stats.mode(df)[1][0][0],

(5.0, 10)

In [10]:
def cal_mean(x):
    mean=sum(x)/len(x)
    print(mean)

In [11]:
cal_mean(df["sepal_length"])

5.843333333333335

In [12]:
def cal_median(x):
    n=len(x)
    index=n//2
    if n%2 :
        return sorted(x)[index]
    return sum(sorted(x)[index-1:index+1])/2

In [13]:
cal_median(df["sepal_length"])

5.8

In [36]:
stats.mode(df['sepal_length'])

C:\Users\Amay\AppData\Local\Temp\ipykernel_8588\1000283275.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(df['sepal_length'])

ModeResult(mode=array([5.]), count=array([10]))

In [39]:
def cal_mode(x):
    from collections import Counter
    y=Counter(x).most_common(1)[0][0]
    return y

In [40]:
cal_mode(df["sepal_length"])

5.0

In [16]:
import math
def cal_std(x):
    sm=sum(x)
    mean=sum(x)/len(x)
    ds=0
    
    for i in range(len(x)):
        ds+=(x[i]-mean)**2
    psd=math.sqrt(ds/len(x))
    
    return psd

In [17]:
cal_std(df["sepal_length"])

0.8253012917851409

In [18]:
# n = len(data)
# for i in range(n - 1):
#     for j in range(n - i - 1):
#         if data[j] > data[j + 1]:
#             data[j], data[j + 1] = data[j + 1], data[j]

def cal_min(data):
    l=list(data)
    l.sort()
    return l[0]

In [19]:
cal_min(df["sepal_length"])

4.3

In [41]:
def cal_max(data):
    l=list(data)
    l.sort(reverse=True)
    return l[0]

In [42]:
cal_max(df["sepal_length"])

7.9

In [43]:
def cal_percentile(i, q):
    data_sorted = sorted(i) # Sort in ascending order
    
    index = math.ceil(q / 100 * len(data_sorted))

    return data_sorted[index]

In [46]:
cal_percentile(df['sepal_width'],25)

2.8

In [22]:
df["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [23]:
group=df.groupby(df["species"])

In [24]:
setosa=group.get_group("setosa")
versicolor=group.get_group("versicolor")
virginica=group.get_group("virginica")

In [25]:
setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [48]:
cal_percentile(setosa['sepal_width'],25)

3.2

In [26]:
df.groupby('species')['sepal_width'].describe()

            count   mean       std  min    25%  50%    75%  max
species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [27]:
# Extra 

bins=[4,7,9]
labels=['4-7','7-9']
df1=df
df1['SepalLength']=pd.cut(df1['sepal_length'],bins=bins,labels=labels)
df1.groupby('SepalLength')['sepal_length'].describe()

             count      mean       std  min  25%  50%  75%  max
SepalLength
4-7          138.0  5.701449  0.697439  4.3  5.1  5.7  6.3  7.0
7-9           12.0  7.475000  0.270101  7.1  7.2  7.5  7.7  7.9